<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org/" >
<head>
    <link rel="stylesheet" th:href="@{/css/demo.css}" >
<title>
    First Thymeleafe expression Test
</title>
</head>
<body>
<h1>
    Thymeleafe Expression Test
</h1>
    <span class="funny" th:text="'The time on server is' + ${theTime}"/>
<form th:action="@{/processFormVTwo}" method="post">
        <input type="text" name="studentName" placeholder="Enter your name here ..."  />
        <input type="submit">
</form>
</body>
</html>