<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <style rel="stylesheet">
        .error{
                color: red;
        }
    </style>
    <title>Title</title>
</head>
<body>
<form th:action="@{/processUser}" th:object="${theUser}" method="post">
    User Name : <input type="text" th:field="*{firstName}"/>

    <br><br>

    Last Name (*): <input type="text" th:field="*{lastName}"/>
    <span th:if="${#fields.hasErrors('lastName')}"
          th:errors="*{lastName}"
          class="error"></span>


    <br><br>

    Country:
    <label>
        <select th:field="*{country}">
            <option th:each="tempCountry : ${countries}"
                    th:value="${tempCountry}"
                    th:text="${tempCountry}">
            </option>
        </select>
    </label>

    <br><br>

    Favourite Programming Language:
    <label>
        <input type="radio" th:field="*{favouriteLanguage}"
               th:each="tempLanguage : ${languages}"
               th:value="${tempLanguage}"
               th:text="${tempLanguage}"/>
    </label>

    <br><br>

    Favourite Operating System:
    <label>
        <input type="checkbox" th:field="*{favouriteSystem}"
               th:each="tempSystem : ${systems}"
               th:value="${tempSystem}"
               th:text="${tempSystem}"/>
    </label>
    <br><br>
    <input type="submit" value="submit form"/>
</form>
</body>
</html>